{% extends "base/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Sample page for about </h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        One of three columns
                    </div>
                    <div class="col-sm-4">
                        One of three columns
                    </div>
                    <div class="col-sm-4">
                        One of three columns
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            One of three columns
                        </div>
                        <div class="col-sm-4">
                            One of three columns
                        </div>
                        <div class="col-sm-4">
                            One of three columns
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}